@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400..700&display=swap");

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-style: normal;

  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);

  --heavy-weight: 700;
  --middle-weight: 500;
  --light-weight: 400;

  --text-input: 0.625rem;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.main-title {
  color: #ffffff;
  margin-top: 3.4rem;
}

form {
  display: flex;
  margin-top: 2.2rem;

  input {
    padding: 1rem 2.2rem;
    border-radius: 8px 0 0 8px;
    border: none;
    width: 25rem;
    height: 2.3rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 2.3rem;
    border-radius: 0 8px 8px 0;
    border: none;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    background-color: #333333;
  }
}

.bg-container {
  position: absolute;
  z-index: -1;
  margin: 0;
  left: 0;
  top: 0;
  width: 100vw;
}

.bg-img {
  width: 100%;
  max-height: 20rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
