@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-style: normal;

  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);

  --heavy-weight: 700;
  --middle-weight: 500;
  --light-weight: 400;

  --text-input: 0.625rem;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchbar-container-desktop {
  background-image: url("./data/pattern-bg-desktop.png");
}

.fix-center {
  left: 50%;
  transform: translateX(-50%);
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (min-width: 370px) {
  .xm-screen {
    top: 18rem;
  }
}
